{% load static %}

<header>
    <nav class="header">
        <!-- Блок з логотипом і назвою -->
        <div class="header-brand">
            <a href="{% url 'core:operations' %}">
                <!-- Поклади файл logo.png в static/images/ -->
                <img src="{% static 'images/logo.png' %}"
                     alt="BudgetBuddy Logo"
                     class="app-logo">
                <span class="app-title">Твій фінансовий помічник</span>
            </a>
        </div>

        <!-- Навігація -->
        <ul class="header-nav">
            <li><a href="{% url 'core:operations' %}">Операції</a></li>
            <li><a href="{% url 'core:category_list' %}">Категорії</a></li>
            <li><a href="{% url 'core:tag_list' %}">Теги</a></li>
            <li><a href="{% url 'core:budget_list' %}">Бюджети</a></li>
            <li>{% if account %}
                <a href="{% url 'core:account_detail' account.pk %}">Аккаунт</a>
            {% else %}
                <span>Аккаунт</span> <!-- Якщо обліковий запис не існує, показуємо текст -->
            {% endif %}
            </li>
            <li><a href="{% url 'core:recurring_list' %}">Повторювані операції</a></li>
            <li><a href="{% url 'core:about_project' %}">Про проєкт</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Вийти</button>
                </form>
            </li>

        </ul>

    </nav>
</header>
