{% extends "base.html" %}
{% block title %}Категорія{% endblock title %}

{% block content %}
<div class="container">
    <h2>{% if action == 'create' %}Створити{% else %}Редагувати{% endif %} категорію</h2>

    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.name.label_tag }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>{{ form.type.label_tag }}</td>
                <td>{{ form.type }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">💾 Зберегти</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
