{% extends "base.html" %}
{% block title %}Operation Detail{% endblock title %}
{% block content %}

    <div class="container">
        <form method="post">
            <table>
                {% csrf_token %}
                {{ operation_form.as_table }}
                <tr>
                    <td>
                         <button type="submit" name="submit_operation">💾</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

{% endblock content %}