{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="page-wrapper">
        {% block header %}{% include "core/includes/header.html" %}{% endblock %}

        <main class="main-wrapper">
            {% block content %}{% endblock %}
        </main>

        {% include "core/includes/footer.html" %}
    </div>
</body>
</html>
